.signin {
    width: 300px; /* Adjust the width as needed */
    margin: 0 auto; /* Center the sign-in form horizontally */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .signin input[type="text"],
  .signin input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .signin button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .signin button:hover {
    background-color: #0056b3;
  }
  
  .signin h2 {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }