.contactdetails {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px;
}

.text-area{
  color: black;
}

.ownerimage {
  border-radius: 50%;
  object-fit: cover;
  height: 304px;
  width: 800px;
  max-width: 100%;
}

.logoimage{
  margin-left: 0;
  height: 100px;
  width: 100px;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.box-border {
  border: 2px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  width: 100%;
}

#contactdetailsnav {
  padding: 20px;
  gap: 40px;
}

.contactus {
  padding-left: 0;
}

.contactus h1{
  text-align: center;
}

.contactbox{
  padding-left: 0;
  width: 100%;
}

.contactusdiscription p{
  color: black;
  text-align: center;
  justify-content: center;
  margin: 20px;
}

/* Media Queries */
@media (min-width: 768px) {
  #contactdetailsnav {
      flex-direction: row;
      justify-content: space-between;
      padding: 100px;
  }
}
